<library path="lib/lib%{Plugin}">
  <class name="%{CN}" type="%{Plugin}::%{CN}" base_class_type="rqt_gui_cpp::Plugin">
    <description>%{PluginDescription}</description>
    <qtgui>
      <group>
        <label>%{Group}</label>
        <icon type="theme">folder</icon>
      </group>
      <label>%{FN}</label>
      <statustip>%{PluginDescription}</statustip>
    </qtgui>
  </class>
</library>
